@media screen and (max-width: 1330px){

    /*----------Partie-de-la-page-d'accueil------------*/

    h1{
        font-size: 2.8vw;
        text-align: center;
        margin-top: 13%;
        margin-bottom: 3%;
    }

    .butIUT p{
        font-size: 1.7vw;
        text-align: center;
        display: flex;
        padding: 0vw 5vw 0vw 3vw;
        align-items: center;
        height: 17vw;
        width: 26vw;
    }

    h2{
        text-align: center;
        margin-top: 4vw;
        margin-bottom: 3vw;
        font-size: 2.2vw;
        text-decoration: underline;
    }

    .definition p{
        text-align: center;
        font-size: 1.5vw;
        height: 4vw;
        padding-left: 15vw;
        padding-right: 15vw;
        margin: 0vw 0vw 0vw 0vw
    
    }

    .TRmode p{
        text-align: center;
        font-size: 1.5vw;
        height: 2vw;
        margin-bottom: 0vw;
        margin-top: 5vw;
    }

    h3{
        font-size: 1.5vw;
        margin: 4vw 0vw 0vw 10vw;
    }

    .tcl{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vw;
    }

    .tcl img{
        width: 33vw;
        height: 20vw;
        margin: 0vw 0vw 4vh 0vw
    }

    .tcl p{
        text-align: center;
        font-size: 1.3vw;
        margin: 0vw 0vw 1vh 0vw;
        width: 33vw;
    }

    .velov p{
        text-align: center;
        font-size: 1.3vw;
        margin: 0vw 0vw 1vh 0vw;
    }

    .SNCF p{
        text-align: center;
        font-size: 1.3vw;
        margin: 0vw 0vw 1vh 0vw;
    }

    h4{
        font-size: 1.5vw;
        text-decoration: none;
        padding: 0vw;
        margin: 0vw 0vw 0.5vw 0vw;
    }

    .tarif-tcl th, .tarif-velov th{
        font-size: 1.4vw;
        font-weight: bold;
        background-color: #E0091D;
        color: white;
    }

    .tarif-sncf th{
        font-size: 1.4vw;
        font-weight: bold;
        background-color: #9B2673;
        color: white;
    }

    td{
        font-size: 1.3vw;
    }
    
    th, td{
        padding: 1vw 2vw;
    }
    
    tbody tr, td, th{
        border: 0.15vw solid black;
    }

    .unitaire-tcl, .unitaire-velov{
        font-size: 1vw;
        margin-left: 33.5vw;
    }

    .avantage .avantage-sncf{
        font-size: 1vw;
        margin-left: 38.5vw;
    }

    footer{
        background-color: #275A0F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8vw;
    }
    
    .information{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0vw;
    }

    .reglement{
        display: flex;
        margin-top: 0vw;
    }

    .reglement p {
        font-size: 0.78vw;
        height: 1vw;
    }

    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0vw;
        margin-top: 1vw;
    }

    /*-----------Partie-de-la-page-contact-----------*/

    /*-------------Partie-de-la-page-plan--------------*/

    #h1-plan{
        font-size: 2.5vw;
        margin-bottom: 1vw;
    }

    .tcl-plan, .maps-plan, .velov-plan{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6vh;
    }

    .maps-plan h2, .tcl-plan h2, .velov-plan h2{
        font-size: 1.70vw;
        margin: 4vw 0vw 1vw 0vw;
    }

    .maps-plan p,.tcl-plan p,.velov-plan p{
        font-size: 1.3vw;
        margin: 1vw 0vw 0vw 0vw;
    }

    .maps-plan img, .velov-plan img{
        width: 56.87vw;
        height: 38.64vw;
    }
    
    .tcl-plan img{
        width: 56.87vw;
        height: 46.45vw;
        margin: 0vw;
    }

}

@media screen and (max-width: 500px){

    /*----------Partie-de-la-page-d'accueil------------*/
    
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        background-color: #275A0F;
        height: 13vw;
        top: 0;
        position: fixed;
        width: 100%;
        gap: 8vw;
    }

    header .IUTlogo{
        width: 17vw;
        height: 8vw;
    }    

    header a strong{
        text-align: center;
        font-size: 2.2vw;
        
    }

    .butIUT{
        display: flex;
        flex-direction: column;
        margin: 5vw 0vw 0vw 0vw;
        margin-left: 2%;
        margin-right: 2%;
    }

    .butIUT p{
        font-size: 2.3vw;
        text-align: center;
        display: flex;
        margin: 2vw 0vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
        align-items: center;
        height: 15vw;
        width: 50vw;
    }
    
    #imgIUT{
        height: 30vw;
        width: 50vw;
        margin-right: 0vw;
    }

    .d-imgdoux{
        display: flex;
        justify-content: center;
        margin-top: 2vh; 
    }

    h1{
        font-size: 3.5vw;
        text-align: center;
        margin-top: 20vw;
        margin-bottom: 3vw;
    }

    h2{
        text-align: center;
        margin-top: 4vw;
        margin-bottom: 3vw;
        font-size: 3vw;
        text-decoration: underline;
    }

    .definition p{
        text-align: center;
        font-size: 2vw;
        height: 8vw;
        padding-left: 15vw;
        padding-right: 15vw;
        margin: 0vw 0vw 0vw 0vw
    
    }

    .TRmode{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .TRmode p{
        font-size: 2vw;
        height: 10vw;
        width: 50vw;
        margin-bottom: 0vw;
        margin-top: 1.5vw;
    }

    h3{
        font-size: 2.3vw;
        margin: 4vw 0vw 0vw 10vw;
    }

    .tcl{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vw;
    }

    .tcl img{
        width: 42vw;
        height: 26vw;
        margin: 0vw 0vw 4vh 0vw
    }

    .tcl p{
        text-align: center;
        font-size: 2vw;
        margin: 0vw 0vw 1vh 0vw;
        width: 42vw;
    }

    .velov p{
        text-align: center;
        font-size: 2vw;
        margin: 0vw 0vw 1vh 0vw;
    }

    .SNCF p{
        text-align: center;
        font-size: 2vw;
        margin: 0vw 0vw 1vh 0vw;
    }

    h4{
        font-size: 2.2vw;
        text-decoration: none;
        padding: 0vw;
        margin: 0vw 0vw 0.5vw 0vw;
    }

    .tarif-tcl th, .tarif-velov th{
        font-size: 1.8vw;
        font-weight: bold;
        background-color: #E0091D;
        color: white;
    }

    .tarif-sncf th{
        font-size: 1.8vw;
        font-weight: bold;
        background-color: #9B2673;
        color: white;
    }

    td{
        font-size: 1.8vw;
    }
    
    th, td{
        padding: 1vw 4vw;
    }
    
    tbody tr, td, th{
        border: 0.15vw solid black;
    }

    .unitaire-tcl, .unitaire-velov{
        font-size: 1.6vw;
        margin-left: 30vw;
    }

    .avantage .avantage-sncf{
        font-size: 1.6vw;
        margin-left: 35.5vw;
    }

    footer{
        background-color: #275A0F;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8vw;
    }
    
    .information{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 0vw;
    }

    .reseaux-sociaux{
        margin-top: 4vw;
        margin-bottom: 2vw;
    }

    .reseaux-sociaux img{
        width: 3vw;
        height: 3vw;
    }

    .reglement{
        display: flex;
        margin-top: 0vw;
    }

    .reglement p {
        font-size: 0.78vw;
        height: 1vw;
    }

    .reglement p a{
        font-size: 1.7vw;
        width: 10.42vw;
        padding-right: 0.78vw;
        text-decoration: underline;
        color: white;
    }

    .copyright img{
        width: 40vw;
        height: 11.5vw;
    }

    .copyright p{
        color: white;
        font-size: 1.7vw;
    }

    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0vw;
        margin-top: 5vw;
    }

    /*-----------Partie-de-la-page-contact-----------*/

    .entete p{
        text-align: center;
        font-size: 2.2vw;
        height: 14vw;
        width: 50vw;
    }

    input{
        width: 30vw;
        height: 2.5vw;
        border: 0.1vw solid black;
        border-radius: 3vw;
        font-size: 2vw;
        margin: 1vw 0vw 1vw 0vw;
        background-color: #E3E3E3;
    }

    label{
        font-size: 2.1vw;
        font-weight: bold;
        text-align: right;
        width: auto;
    }

    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 8vw;
        justify-content: center;
    }
    
    .form-msg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1vw;
        margin-left: 0vw;
    }

    .form-msg label{
        text-align: center;
    }

    textarea{
        width: 35vw;
        height: 25vw;
        border: 0.1vw solid black;
        border-radius: 2vw;
        font-size: 2.2vw;
        background-color: #E3E3E3;
        resize: none;
    }
    
    ::placeholder{
        font-size: 1.8vw;
    }

    .bouton{
        display: flex;
        justify-content: center;
    }

    button{
        width: 13vw;
        height: 3vw;
        margin-top: 2vw;
        padding-top: 0.4vw;
        margin-left: 0vw;
        border: 0.1vw solid black;
        border-radius: 2vw;
        font-size: 1.5vw;
        font-weight: bold;
        background-color: #E3E3E3;
    }

    /*-------------Partie-de-la-page-plan--------------*/

    #h1-plan{
        font-size: 3vw;
        margin-bottom: 1vw;
    }

    .maps-plan h2, .tcl-plan h2, .velov-plan h2{
        font-size: 2.5vw;
        margin: 0vw 0vw 1vw 0vw;
    }

    .tcl-plan, .maps-plan, .velov-plan{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vh;
    }

    .maps-plan p,.tcl-plan p,.velov-plan p{
        font-size: 1.7vw;
        margin: 1vw 0vw 0vw 0vw;
    }

    .maps-plan img, .velov-plan img{
        width: 54.87vw;
        height: 37.64vw;
    }
    
    .tcl-plan img{
        width: 54.87vw;
        height: 45.45vw;
        margin: 0vw;
    }
}