/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*---------------------header----------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

body{
    margin: 0% 0% 0% 0%;
    font-family: 'Segoe UI', 'Tahoma', 'italic','Geneva';
    width: 100%;
    overflow-x: hidden;
}


header{
    display: flex;
    justify-content: center;
    background-color: #275A0F;
    height: 6.8vw;
    top: 0;
    position: fixed;
    width: 100%;
    gap: 10vw;
}


header .IUTlogo{
    width: 10vw;
    height: 5vw;
}


header a strong{
    text-align: center;
    font-size: 1.5vw;
    
}


.item{
    margin: 0vw;
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
}


.item a{
    text-decoration: none;
    color: white;
}

/*-------------------------------------------------*/
/*-------------------contenu-----------------------*/
/*-------------------------------------------------*/

/*--------------------commun-----------------------*/

h1{
    font-size: 2.3vw;
    text-align: center;
    margin-top: 13vw;
    margin-bottom: 3vw;
}

/*----------Partie-de-la-page-d'accueil------------*/

.butIUT{
    display: flex;
    margin: 5vw;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.butIUT p{
    font-size: 1.3vw;
    text-align: center;
    display: flex;
    padding: 0vw 5vw 0vw 3vw;
    align-items: center;
    height: 17vw;
    width: 26vw;
}

#imgIUT{
    height: 24vw;
    width: 37vw;
    margin-right: 10%;
}

/*-------------------------------------------------*/

.d-imgdoux{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#imgdoux{
    width: 65vw;
    height: 28vw;
}

h2{
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 3vw;
    font-size: 1.7vw;
    text-decoration: underline;
}

.definition p{
    text-align: center;
    font-size: 1.1vw;
    height: 4vw;
    padding-left: 15vw;
    padding-right: 15vw;
    margin: 0vw 0vw 0vw 0vw

}

.definition p a{
    text-decoration: none;    
    color: rgb(24, 8, 243);
}

.definition p a:hover{
    text-decoration: underline;

    color: rgb(56, 56, 56);
}

/*-------------------------------------------------*/

.TRmode p{
    text-align: center;
    font-size: 1.1vw;
    height: 2vw;
    margin-bottom: 0vw;
    margin-top: 5vw;
}

/*-------------------------------------------------*/

h3{
    font-size: 1.3vw;
    margin: 4vw 0vw 0vw 10vw;
}

/*-------------------------------------------------*/

.tcl, .velov, .SNCF{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

/*-------------------------------------------------*/

.tcl p{
    text-align: center;
    font-size: 1vw;
    margin: 0vw 0vw 1vh 0vw;
    width: 22vw;
}

/*-------------------------------------------------*/

.tcl img{
    width: 22vw;
    height: 14vw;
    margin-right: 2.5vw;
}

.tram img{
    margin-right: 0vw;
}

/*-------------------------------------------------*/

.velov p{
    text-align: center;
    font-size: 1vw;
    margin: 0vw 0vw 1vh 0vw;
}

.velov img{
    width: 50vw;
    height: 27vw;
}

/*-------------------------------------------------*/

.SNCF p{
    text-align: center;
    font-size: 1vw;
    margin: 0vw 0vw 1vh 0vw;
}

.SNCF img{
    width: 50vw;
    height: 27vw;
}

/*-------------------------------------------------*/

h4{
    font-size: 1.2vw;
    text-decoration: none;
    padding: 0vw;
    margin: 0vw 0vw 0.5vw 0vw;
}

/*-------------------------------------------------*/

.tableau-tcl, .tableau-velov{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.tarif-tcl th, .tarif-velov th{
    font-size: 1.2vw;
    font-weight: bold;
    background-color: #E0091D;
    color: white;
}

td{
    font-size: 1.1vw;
}

th, td{
    padding: 1vw 2vw;
}

tbody tr, td, th{
    border: 0.15vw solid black;
}

.tarif-tcl, .tarif-velov{
    min-width: 35vw;
    min-height: 20vw;
    width: min-content;
    border-collapse: collapse;
    border: 0.15vw solid black;
    text-align: center;
    font-size: xx-large;
    box-shadow: 0 2vw 50vw rgba(0, 0, 0, 0.15);
}

.unitaire-tcl, .unitaire-velov{
    font-size: 0.9vw;
    margin-left: 33.5vw;
}

/*-------------------------------------------------*/

.tableau-sncf{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
}

.tarif-sncf th{
    font-size: 1.2vw;
    font-weight: bold;
    background-color: #9B2673;
    color: white;
}

.tarif-sncf{
    min-width: 25vw;
    min-height: 26vw;
    width: min-content;
    border-collapse: collapse;
    border: 0.15vw solid black;
    text-align: center;
    box-shadow: 0 2vw 50vw rgba(0, 0, 0, 0.15);
}

.avantage .avantage-sncf{
    font-size: 0.9vw;
    margin-left: 38.5vw;
}


/*-----------Partie-de-la-page-contact-----------*/

.entete{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entete p{
    text-align: center;
    font-size: 1vw;
    height: 3vw;
    width: 50vw;
}

label{
    font-size: 1vw;
    margin-right: 1vw;
    font-weight: bold;
    text-align: right   ;
    width: 5vw;
}

.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 20.8vw;
    height: 1.35vw;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    font-size: 0.88vw;
    background-color: #E3E3E3;
}

.form{
    display: flex;
    align-items: center;
    height: 3.6vw;
    justify-content: center;
}

.form-msg{
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}

textarea{
    width: 20.8vw;
    height: 13vw;
    border: 0.1vw solid black;
    border-radius: 0.5vw;
    font-size: 0.88vw;
    background-color: #E3E3E3;
    resize: none;
}

button{
    width: 9.1vw;
    height: 2vw;
    margin-top: 2vw;
    padding-top: 0.36vw;
    margin-left: 18vw;
    border: 0.1vw solid black;
    border-radius: 1vw;
    font-size: 1vw;
    background-color: #E3E3E3;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}


/*-------------Partie-de-la-page-plan--------------*/

#h1-plan{
    font-size: 1.8vw;
    margin-bottom: 1vw;

}

.tcl-plan, .maps-plan, .velov-plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
}

.maps-plan h2, .tcl-plan h2, .velov-plan h2{
    font-size: 1.38vw;
    margin: 4vw 0vw 1vw 0vw;
}

.maps-plan p a, .tcl-plan p a, .velov-plan p a{
    color: rgb(24, 8, 243);
    text-decoration: underline;
}

.maps-plan p a:hover, .tcl-plan p a:hover, .velov-plan p a:hover{
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.maps-plan img, .velov-plan img{
    width: 46.87vw;
    height: 28.64vw;
}

.tcl-plan img{
    width: 46.87vw;
    height: 36.45vw;
    margin: 0vw;
}

.maps-plan p,.tcl-plan p,.velov-plan p{
    font-size: 0.88vw;
    margin: 1vw 0vw 0vw 0vw;
}



/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*--------------------footer-----------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

footer{
    background-color: #275A0F;
    display: flex;
    margin-top: 8vw;
    justify-content: center;
}

.information{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}

.reseaux-sociaux{
    margin-top: 2vw;
}

.reseaux-sociaux img{
    width: 1.56vw;
    height: 1.56vw;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3vw;
    margin-top: 1vw;
}

.copyright img{
    width: 26vw;
    height: 7.8vw;
}

.copyright p{
    color: white;
    font-size: 0.78vw;
}

.reglement{
    margin-top: 0.2vw;
}

.reglement p a{
    font-size: 0.78vw;
    width: 10.42vw;
    padding-right: 0.78vw;
    text-decoration: underline;
    color: white;
}

.information img{
    margin-right: 2.6vw;
}

.information #linkedin{
    margin-right: 0vw;
}